:root {
  --accent-bg-color: #fde49c;
}

html {
  font-size: 10px;
  background: #ffb740;
  /* background-size: cover; */
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #be0000;
}

h1 {
  font-size: 8rem;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  padding: 3rem 0;
  margin-top: 6rem;
  background: var(--accent-bg-color);
}

p {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 4rem;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 2rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 40rem;
  height: 40rem;
  text-align: center;
  color: white;
  background: #64c9cf;
  text-shadow: 0 0 0.5rem black;
}

img {
  display: block;
  max-height: 35rem;
  margin: 1.5rem auto;
}

.playing {
  transform: scale(1.1);
  border-color: #f45905;
  box-shadow: 0 0 1rem #ffc600;
}

.sound {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fde49c;
  margin-top: 1rem;
}

#volume {
  text-align: center;
  font-size: 1.75rem;
}

footer {
  background-color: var(--accent-bg-color);
  height: 4rem;
}

.footer-text {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
}
